*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.hot::after{
    display: inline-block;
    content: ' ';
    height: 20px;
    width: 30px;
    background-image: url(./hot.gif);
    background-repeat: no-repeat;
    background-position: 5px 10px;
}

.container{
    width: 1140px;
    margin: 30px auto;    
}
.container .block-header {
    border: 1px solid transparent; 
    border-bottom-color:#00ACC1 ;
}
.block-header h3{
    background-color: #00ACC1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    padding-left:10px ;
}

ul {
    margin: 25px 0px;
    display: flex;
    flex-wrap: wrap;
   
    height: 290px;
    
}
ul li {
    height: 40px;
    display: block;
    width: calc(1140px / 4);
    background-image: url(./ki-thuat-sprite.png);
    background-repeat: no-repeat;
}
ul li a{
    color: black;
    height: 40px;
    line-height: 40px;
    padding-left: 35px;
}
ul li a:hover{
    color: #00ACC1;
}
ul li:nth-child(1){
background-position: 0px -568px ;
}
ul li:nth-child(2){
  background-position: 0px -2225px ;  
}
ul li:nth-child(3){
    background-position: 0px -2052px ;
}
ul li:nth-child(4){
    background-position: 0px -1240px ;
}
ul li:nth-child(5){
    background-position: 0px -1140px ;
}
ul li:nth-child(6){
    background-position: 0px -2305px ;
}
ul li:nth-child(7){
    background-position: 0px -930px ;
}
ul li:nth-child(8){
    background-position: 0px -2099px ;
}
ul li:nth-child(9){
    background-position: 0px -1600px ;
}
ul li:nth-child(10){
    background-position: 0px -2383px ;
}
ul li:nth-child(11){
    background-position: 0px -260px ;
}
ul li:nth-child(12){
    background-position: 0px -465px ;
}
ul li:nth-child(13){
    background-position: 0px -1602px ;
}
ul li:nth-child(14){
    background-position: 0px -775px ;
}
ul li:nth-child(15){
    background-position: 0px -1810px ;
}
ul li:nth-child(16){
    background-position: 0px -1447px ;
}
ul li:nth-child(17){
    background-position: 0px -362px ;
}
ul li:nth-child(18){
    background-position: 0px -362px ;
}
ul li:nth-child(19){
    background-position: 0px -362px ;
}


